{% extends 'appels_sortants/base.html' %}
{% load django_tables2 %}
{% load staticfiles %}
{% block content %}

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/rango-jquery.js" %}"></script>

<form action="{% url 'appels_sortants:user_new' %}" method="post">{% csrf_token %}
	<input type="hidden" name="_method" value="delete">
	<button class="btn btn-info btn-md"  id="btndelete" data-toggle="tooltip" title="Supprimer tous les historiques" type="submit"><span class="glyphicon glyphicon-plus"></span>
	Ajouter un opérateur</button>
</form>


{% render_table table %}
{% endblock content %}

